[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
	branch = v3.10.x
[submodule "thirdparty/inih"]
	path = thirdparty/inih
	url = https://github.com/jtilly/inih.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/tileson"]
	path = thirdparty/tileson
	url = https://github.com/SSBMTonberry/tileson.git
	branch = v1.3.0_dev
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	branch = release
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "game"]
	path = game
	url = https://github.com/Dssdiego/feather_platformer_bird.git
[submodule "thirdparty/miniaudio"]
	path = thirdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
